@model NorthwindApp.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orderdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orderdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requireddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requireddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shippeddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shippeddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipaddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipcity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipcity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipregion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipregion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shippostalcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shippostalcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipcountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipcountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Customerid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Employeeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipviaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipviaNavigation.Shipperid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Orderid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
